{% extends '::base.html.twig' %}

{% block body -%}
    <h1>File creation</h1>

    <form action="{{ path('file_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_errors(form.files) }}
            {{ form_widget(form.files, { 'full_name': form.files.vars.full_name ~ '[]', 'attr': { 'multiple': 'multiple' } }) }}

        {{ form_rest(form) }}

        <input type="submit" />
    </form>


    
    <ul class="record_actions">
        <li>
            <a href="{{ path('file') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
